 .orange50
  {
	font-family: "Open Sans", sans-serif;
    color: #990000;
    font-size: 50px; 
	font-weight:bold;
    padding: 0 0 9px;
    text-transform: uppercase;
}
.sgrey50 {	font-family: Trebuchet, serif;
	font-size: 60px;
	font-weight: normal;
	color: #900;
}


.stitle1 {
    font-family: Arial Narrow, Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: bold;
    color: #900C3F;
}
#map{margin-left:3%;
margin-right:1%;
}

.stitle {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
}
.stitle2 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #147EA7;
}
.sblue12 {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.sblue {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
}
.sbluebig {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #147EA7;
}
.sreseller {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	
}
table{
margin-left:auto;margin-right:auto;margin-top:auto;margin-bottom:auto;


}
.sgrey10 {	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}
.sgrey12 {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}
.sgrey14 {	
font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.swhite14 {	font-family: arial;
	font-size: 15px;
	font-weight: normal;
	color: #FFFFFF;
}
.swhite20 {	font-family: arial;
	font-size: 20px;
	font-weight: normal;
	color: #FFFFFF;
}
.swhite24 {	font-family: arial;
	font-size: 28px;
	font-weight: normal;
	color: #FFFFFF;
}
.sbutton {	
font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.sorange16 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.sorange20 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.sorange24 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.sorange30 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #147EA7;
}
.black14 {	
font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #000000;
}
.black12 {	
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}
.Example_E {
-moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
.Example_E1 {
	border-style: solid;
    border-width: 1px;
    border-color: #333333 #666666;
  -webkit-border-radius: 6px;
  border-radius: 6px;
}
.Example_E2 {-moz-box-shadow: 0 2px 5px #DF2D00;
-webkit-box-shadow: 0 2px 5px#DF2D00;
box-shadow: 0 2px 5px #DF2D00;
}
.Example_E0 {-moz-box-shadow: 0 2px 2px #888;
-webkit-box-shadow: 0 2px 2px#888;
box-shadow: 0 2px 2px #888;
}

.print_pages {
width:900px;
  height: auto;
  background: #fff;
  margin: 25px 0 0 0;
      border-style:groove;
   border-width: 2px;
   border-height:
    border-color: #000000 #000000;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pprint_pages {
  width: 910px;
  height: 620px;
  background: #fff;
  margin: 25px 0 0 0;
   border-style: solid;
    border-color: #000000 #000000;
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.pheading {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 34px;
	font-weight: bold;
	color: #147EA7;
}
.psub1 {
	font-family: "Arial Narrow", Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: normal;
	color: #147EA7;
}
.psub2 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #000000;
}
.pbody {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #000000;
}
.pbodyemp {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #000000;
}
.pbody14 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
}
.pbody12 {
	font-family: Arial Narrow, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}
.pborder1 {
	border-style: solid;
    border-width: 1px;
    border-color: #333333 #666666;
  -webkit-border-radius: 6px;
  border-radius: 6px;

}
.piechart_3d
{

background-color:transparent;
}

.piechart_3d2
{
background-color:transparent;
}
